.PWABadge-container {
  padding: 0;
  margin: 0;
  width: 0;
  height: 0;
}

.PWABadge-toast {
  position: fixed;
  left: 0;
  top: 0;
  margin: 16px;
  padding: 12px;
  border: 1px solid var(--toast-border);
  border-radius: 4px;
  z-index: 1;
  text-align: left;
  box-shadow: var(--toast-shadow);
  background-color: var(--toast-bg);
  color: var(--text-color); /* Ensure text color adapts */
}

.PWABadge-message {
  margin-bottom: 8px;
}

.PWABadge-toast-button {
  margin-right: 5px;
}
